.list {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  flex-wrap: wrap;
}
.current-page {
  background-color: #646cff;
}